# Домены которым разрешён доступ к API (через запятую)
CORS_ORIGINS=https://localhost

# Порт на котором запускается сервер
PORT=8080

# Путь к файлу credentials Google Service Account
CREDENTIALS_FILE=file_path.json
